<footer class="bg-main-light">
<div class="container py-5">
    <h2>Get the FreshCat app</h2>
    <p class="pb-0">We will send you a link, open it on your phone to download the app </p>
    <div class="px-4 py-0">
        <input type="email" class="w-75 " placeholder="Email..">
        <button class="btn bg-main ms-4 text-white">Share App Link </button>
        <div class="end d-flex justify-content-between py-3">
            <div class="payment ">
                <p>Payment Partners </p>
            </div>
            <div class="deliveries">
                <p>Get deliveries with FreshCat</p>
            </div>
        </div>
    </div>
</div>
</footer>