<div class="row g-4 mt-4">
    <div class="col-md-2 cursor-pointer" *ngFor="let product of products  ">

        <div class="product p-2 h-100 position-relative">

            <i *ngIf="!wishlistData.includes(product._id)" (click)="addFav(product._id)"
                class="fa-regular fa-heart heart "> </i>
            <i *ngIf="wishlistData.includes(product._id)" (click)="removeFav(product._id)"
                class="fa-solid fa-heart heart "> </i>


            <div [routerLink]="['/productDetails' , product._id ]">
                <img [src]="product.imageCover" class="w-100" [alt]="product.title">
                <h3 class="h6 text-main mt-1">{{product.category.name}}</h3>
                <h4 class="h6">{{product.title.split(' ').slice(0,2).join(" ")}}</h4>

                <div class="d-flex justify-content-between align-items-center">
                    <span>{{product.price }} EGP</span>

                    <div class="">
                        <i class="fas fa-star rating-color"></i>
                        <span class="text-muted">{{product.ratingsAverage}}</span>
                    </div>
                </div>

            </div>

            <button (click)="addCartBtn(product._id)" class="btn bg-main text-white w-100">Add To Cart</button>
        </div>
    </div>
</div>