<div class="w-75 my-5 mx-auto">
    <h1 class="text-main">Login Now:</h1>

    <h1 *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</h1>
         <!--*************LOGIN FORM*******-->

    <form [formGroup]="loginForm" (ngSubmit)="loginSubmitMethod()">

        <div class="mb-3">
            <label for="">Email:</label>
            <input type="text" formControlName="email" class="form-control">

            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
                <p *ngIf="loginForm.get('email')?.errors?.['required']">email is required</p>
                <p *ngIf="loginForm.get('email')?.errors?.['email']">please enter valid email</p>
            </div>
        </div>
        <div class="mb-3">
            <label for="">Password:</label>
            <input type="text" formControlName="password" class="form-control">

            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched"
                class="alert alert-danger">
                <p *ngIf="loginForm.get('password')?.errors?.['required']">password is required</p>
                <p *ngIf="loginForm.get('password')?.errors?.['pattern']">please enter valid password</p>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
                Forget Password
            </button>
            <button [disabled]="loginForm.invalid" type="submit" class="btn bg-main text-white">login <i
                    *ngIf="isLoading" class="fa-solid fa-spinner fa-spin ms-1"></i></button>
        </div>


    </form>

</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Forget Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <!-- *** 1 forms ***    -->
                <form *ngIf="forgetFlag" [formGroup]="forgetForm" (ngSubmit)="forgetSubmitMethod()">
                    <h3 class="text-main text-center">Forget Form</h3>
                    <div class="mb-3">
                        <label for="">Email:</label>
                        <input type="text" formControlName="email" class="form-control">
            
                        <div *ngIf="forgetForm.get('email')?.errors && forgetForm.get('email')?.touched" class="alert alert-danger">
                            <p *ngIf="forgetForm.get('email')?.errors?.['required']">email is required</p>
                            <p *ngIf="forgetForm.get('email')?.errors?.['email']">please enter valid email</p>
                        </div>
                    </div>
                    <button [disabled]="forgetForm.invalid" type="submit" class="btn bg-main text-white">Forget <i
                        *ngIf="isLoading" class="fa-solid fa-spinner fa-spin ms-1"></i></button>
                </form>

                <!-- *** 2 forms ***    -->
                <form *ngIf="verifyFlag" [formGroup]="verifyForm" (ngSubmit)="verifySubmitMethod()">
                    <h3 class="text-main text-center">Verify Form</h3>
                    <div class="mb-3">
                        <label for="">resetCode:</label>
                        <input type="text" formControlName="resetCode" class="form-control">
            
                        <div *ngIf="forgetForm.get('resetCode')?.errors && forgetForm.get('resetCode')?.touched" class="alert alert-danger">
                            <p *ngIf="forgetForm.get('resetCode')?.errors?.['required']">resetCode is required</p>
                          
                        </div>
                    </div>
                    <button [disabled]="verifyForm.invalid" type="submit" class="btn bg-main text-white">Verify <i
                        *ngIf="isLoading" class="fa-solid fa-spinner fa-spin ms-1"></i></button>
                </form>

                <!-- *** 3 forms ***    -->
                <form *ngIf="newPassFlag" [formGroup]="newPassForm" (ngSubmit)="newPassSubmitMethod()">
                    <h3 class="text-main text-center"> New Password Form</h3>
                    <div class="mb-3">
                        <label for="">Email:</label>
                        <input type="text" formControlName="email" class="form-control">
            
                        <div *ngIf="newPassForm.get('email')?.errors && newPassForm.get('email')?.touched" class="alert alert-danger">
                            <p *ngIf="newPassForm.get('email')?.errors?.['required']">email is required</p>
                            <p *ngIf="newPassForm.get('email')?.errors?.['email']">please enter valid email</p>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="">newPassword:</label>
                        <input type="text" formControlName="newPassword" class="form-control">
            
                        <div *ngIf="loginForm.get('newPassword')?.errors && loginForm.get('newPassword')?.touched"
                            class="alert alert-danger">
                            <p *ngIf="loginForm.get('newPassword')?.errors?.['required']">newPassword is required</p>
                            <p *ngIf="loginForm.get('newPassword')?.errors?.['pattern']">please enter valid newPassword</p>
                        </div>
                    </div>
            
                     
                        <button [disabled]="newPassForm.invalid" type="submit" class="btn bg-main text-white">Set New Password <i
                                *ngIf="isLoading" class="fa-solid fa-spinner fa-spin ms-1"></i></button>
                    
            
            
                </form>    
            </div>

        </div>
    </div>
</div>